.skillsBlock {
    background-color: #fff;
}

.skillsContainer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .skills {
        justify-content: center;
        text-align: center;
    }
}

