.skillsBlock {
    background-color: #4e8181;
}

.skillsContainer {
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

