.mainBlock {
    height: 100vh;
    width: 100%;
    background-color: #ffe6c9;

}

.mainContainer {
    justify-content: space-between;
    flex-wrap: wrap;
}

.helloBlock {
    width: 400px;
}

.photo img {
    width: 300px;
}