.mainBlock {
    background-color: rgb(0, 254, 156)  ;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
}

.helloBlock {
    width: 500px;
}

.helloBlock h1 {
    font-weight: 300 !important;
    font-size: 1.5em;
}

.helloBlock h1 span {
    font-weight: 600 !important;
    font-size: 2.0em;
}

.helloBlock p {
    margin-top: 0;
    margin-bottom: 3rem;
    text-align: left;

    font-size: 21px !important;
    font-size: 1.3125rem !important;
}


/*buttons*/

.btnWork {
    color: white;
    background-color: #1c1f23;
    border-color: #1a1e21;
    text-decoration: none;
    box-shadow: 0px 1px 2px #1a1e21;

    padding: 0.8rem 2.6rem;
    font-weight: 500;
    border-width: 2px;

    webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.contactMe {
    padding: 0.8rem 2.6rem;
    font-weight: 500;
    border-width: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #000000;
    text-decoration: underline;
}

.contactMe:hover {
    text-decoration: none;
}

/*icon*/

.spanIcon {
    margin-left: 0.5rem !important;
    text-decoration: none;
}

.icon {
    font-family: "Font Awesome 5 Free";
}

.icon::before {
    content: "\f1ea";
}

/*img*/

.photo img {
    width: 450px;
    border-radius: 50%;
    border: 12px solid #fff;
}


/*media*/

@media screen and (max-device-width: 1270px) {
    .photo img {
        width: 350px;
    }
    .helloBlock {
        width: 350px;
    }
    .contactMe {
        display: inline-block;
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-device-width: 935px) {
    .photo img {
        width: 250px;
    }
    .helloBlock {
        width: 300px;
    }
    .contactMe {
        display: inline-block;
        margin-top: 10px;
        text-align: center;
    }
}

@media screen and (max-device-width: 730px) {
    .mainContainer {
        justify-content: center;
    }
}

@media screen and (max-device-width: 570px) {
    .photo img {
        width: 250px;
    }

    .btnWork {
        text-align: center;
        display: block;
    }

    .contactMe {
        display: block;
        margin-top: 10px;
        text-align: center;
    }
}
